@import '_variables'

// Making sure the CSS takes the mobile version...
.tocify-wrapper
  display: none
h1, h2
  border-top-width: 0 !important
.before-code
  display: none
pre
  border: 1px solid #888
  margin-top: 20px !important
  margin-bottom: 20px !important
.page-wrapper
  margin-left: 0
  margin-top: 0
  width: 100% !important
#mobile-wrapper
  display: none
.dark-box
  display: none
.content
  h1,h2,h3,h4,h5,h6,p,table,ul,ol,aside,dl
    margin-right: 0
    
  pre, blockquote, div.before-code
    float: none
    width: auto

